<h1>Add a project</h1>

<form action="/projects" method="post">
  <div class="form-group">
    <label for="project_title">Project Title</label>
    <input name="project_title" placeholder="Enter title here">
  </div>
  <button type="submit" class="btn">Submit</button>
</form>