<h1>Add a volunteer</h1>

<form action="/volunteers/new" method="post">
  <div class="form-group">
    <label for="volunteer_name">Add a new volunteer</label>
    <input name="volunteer_name" placeholder="Volunteer name here" type="text">
  </div>
  <button type="submit" class="btn">Create Volunteer</button>
</form>