<h1>Add a volunteer</h1>

<form action="/volunteers" method="post">
  <div class="form-group">
    <label for="volunteer_name">Volunteer Name:</label>
    <input name="volunteer_name" placeholder="Enter name here">
  </div>
  <button type="submit" class="btn">Submit</button>
</form>