<h1>All current projects</h1>

<% if @projects.any? %>
  <ul>
    <% @projects.each do |project| %>
      <li><a href="/projects/<%= project.id %>"><%= project.title %></a></li>
    <% end %>
  </ul>
<% else %>
  <p>We don't currently have any active projects</p>
<% end %>

<h1>Add a project</h1>

<form action="/projects" method="post">
  <div class="form-group">
    <label for="project_title">Project Title</label>
    <input name="project_title" placeholder="Enter title here">
  </div>
  <button type="submit" class="btn">Create Project</button>
</form>
