<h1><%= @project.title %><h1>
<a href="/projects/<%= @project.id %>/edit">Edit Project</a>

<h2>A list of all volunteers working on this project:</h2>

<% if @project.volunteers.any? %>
  <ul>
    <% @project.volunteers.each do |volunteer| %>
      <li><%= volunteer.name %></li>
    <% end %>
  </ul>
<% else %>
  <p>You have not assigned anyone to this project yet</p>
<% end %>

<br>

<h3><a href="/projects">Return to list of projects</h3>

<h4><a href="/volunteers">Return to list of volunteers</h4>
